<div class="container mt-10 ms-auto">
  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <legend class="text-center mt-5 mb-5">Ajouter un utilisateur</legend>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="nom">Nom:</label>
      <div class="col-sm-10">
        <input id="nom" type="text" class="form-control" formControlName="nom">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="prenom">Prénom:</label>
      <div class="col-sm-10">
        <input id="prenom" type="text" class="form-control" formControlName="prenom">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="pays">Pays:</label>
      <div class="col-sm-10">
        <input id="pays" type="text" class="form-control" formControlName="pays">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="ville">Ville:</label>
      <div class="col-sm-10">
        <input id="ville" type="text" class="form-control" formControlName="ville">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label" for="codePostal">Code postal:</label>
      <div class="col-sm-10">
        <input id="codePostal" type="text" class="form-control" formControlName="codePostal">
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Ajouter</button>
  </form>
</div>
